.buttonLeft,
.buttonRight {
  top: 49%;
  position: absolute;
  width: 1px;
  height: 45px;
  background-color: #fff;
  transform: translate(0, -50%);
}
.buttonLeft {
  left: 0;
}
.buttonRight {
  right: 0;
}

.buttonTopLeft,
.buttonTopRight {
  top: 0;
  position: absolute;
  height: 1px;
  background-color: #fff;
}

.buttonTopLeft {
  left: 0;
}

.buttonTopRight {
  right: 0;
}

.buttonBottomLeft,
.buttonBottomRight {
  top: 45px;
  position: absolute;
  height: 1px;
  background-color: #fff;
}

.buttonBottomLeft {
  left: 0;
}

.buttonBottomRight {
  right: 0;
}

.button:hover > .buttonTopLeft,
.button:hover > .buttonTopRight,
.button:hover > .buttonBottomLeft,
.button:hover > .buttonBottomRight {
  animation: ButtonHoverTopBottom-in 0.15s linear forwards;
}

@keyframes ButtonHoverTopBottom-in {
  to {
    width: 0;
  }
  from {
    width: 60px;
  }
}

.button > .buttonTopLeft,
.button > .buttonTopRight,
.button > .buttonBottomLeft,
.button > .buttonBottomRight {
  animation: ButtonHoverTopBottom-out 0.15s linear forwards;
  animation-delay: 0.15s;
}

@keyframes ButtonHoverTopBottom-out {
  to {
    width: 60px;
  }
  from {
    width: 0;
  }
}

.button:hover > .buttonLeft,
.button:hover > .buttonRight {
  animation: ButtonHoverLeftRight-in 0.15s linear forwards;
  animation-delay: 0.15s;
}

@keyframes ButtonHoverLeftRight-in {
  to {
    height: 20px;
  }
  from {
    height: 45px;
  }
}

.button > .buttonLeft,
.button > .buttonRight {
  animation: ButtonHoverLeftRight-out 0.15s linear forwards;
}

@keyframes ButtonHoverLeftRight-out {
  to {
    height: 45px;
  }
  from {
    height: 20px;
  }
}
