@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35, 35, 35;
    --foreground: 220, 220, 220;
    --card: 45, 45, 45;
    --card-foreground: 221, 229, 236;
    --popover: 45, 45, 45;
    --popover-foreground: 221, 229, 236;
    --primary: 45, 45, 45;
    --primary-foreground: 221, 229, 236;
    --secondary: 210, 167, 142;
    --secondary-foreground: 45, 45, 45;
    --muted: 40, 40, 40;
    --muted-foreground: 215, 219, 235;
    --accent: 210, 167, 142;
    --accent-foreground: 45, 45, 45;
    --destructive: 178, 34, 34;
    --destructive2: 139, 0, 0;
    --destructive-foreground: 250, 250, 250;
    --border: 232, 232, 232, 0.5;
    --input: 221, 229, 236;
    --ring: 207, 224, 234;
    --radius: 0.5rem;
    --chart: 210, 167, 142;
    --font-bodoni: "Bodoni", sans-serif;
  }

  .light {
    --background: 250, 250, 250;
    --foreground: 18, 18, 18;
    --card: 250, 250, 250;
    --card-foreground: 18, 18, 18;
    --popover: 250, 250, 250;
    --popover-foreground: 18, 18, 18;
    --primary: 23, 23, 27;
    --primary-foreground: 249, 249, 249;
    --secondary: 244, 244, 245;
    --secondary-foreground: 23, 23, 27;
    --muted: 244, 244, 245;
    --muted-foreground: 113, 113, 122;
    --accent: 244, 244, 245;
    --accent-foreground: 23, 23, 27;
    --destructive: 238, 68, 68;
    --destructive-foreground: 249, 249, 249;
    --border: 227, 227, 231;
    --input: 227, 227, 231;
    --ring: 23, 23, 27;
    --chart: 23, 23, 27;
  }

  .dark {
    --background: 18, 18, 18;
    --foreground: 249, 249, 249;
    --card: 18, 18, 18;
    --card-foreground: 249, 249, 249;
    --popover: 18, 18, 18;
    --popover-foreground: 249, 249, 249;
    --primary: 211, 211, 215;
    --primary-foreground: 23, 23, 27;
    --secondary: 39, 39, 42;
    --secondary-foreground: 249, 249, 249;
    --muted: 39, 39, 42;
    --muted-foreground: 161, 161, 169;
    --accent: 39, 39, 42;
    --accent-foreground: 249, 249, 249;
    --destructive: 127, 29, 29;
    --destructive-foreground: 249, 249, 249;
    --border: 39, 39, 42;
    --input: 39, 39, 42;
    --ring: 211, 211, 215;
    --chart: 211, 211, 215;
  }
  .red-light {
    --background: 250, 250, 250;
    --foreground: 23 23 23;
    --card: 250, 250, 250;
    --card-foreground: 23 23 23;
    --popover: 250, 250, 250;
    --popover-foreground: 23 23 23;
    --primary: 219, 38, 38;
    --primary-foreground: 254, 242, 242;
    --secondary: 245, 245, 245;
    --secondary-foreground: 22, 22, 22;
    --muted: 245, 245, 245;
    --muted-foreground: 115, 115, 115;
    --accent: 245, 245, 245;
    --accent-foreground: 22, 22, 22;
    --destructive: 238, 68, 68;
    --destructive-foreground: 249, 249, 249;
    --border: 228, 228, 228;
    --input: 228, 228, 228;
    --ring: 219, 38, 38;
    --chart: 219, 38, 38;
  }

  .red-dark {
    --background: 19,19,19;
    --foreground: 249, 249, 249;
    --card: 27, 25, 23;
    --card-foreground: 249, 249, 249;
    --popover: 19,19,19;
    --popover-foreground: 249, 249, 249;
    --primary: 219, 38, 38;
    --primary-foreground: 254, 242, 242;
    --secondary: 37, 37, 37;
    --secondary-foreground: 249, 249, 249;
    --muted: 37, 37, 37;
    --muted-foreground: 162, 162, 162;
    --accent: 37, 37, 37;
    --accent-foreground: 249, 249, 249;
    --destructive: 127, 29, 29;
    --destructive-foreground: 249, 249, 249;
    --border: 37, 37, 37;
    --input: 37, 37, 37;
    --ring: 219, 38, 38;
    --chart: 219, 38, 38;
  }

  .green-light {
    --background:255, 255, 255
    --foreground:8, 8, 10
    --card:255, 255, 255
    --card-foreground:8, 8, 10
    --popover:255, 255, 255
    --popover-foreground:8, 8, 10
    --primary:22, 163, 73
    --primary-foreground:254, 241, 242
    --secondary:244, 244, 245
    --secondary-foreground:23, 23, 27
    --muted:244, 244, 245
    --muted-foreground:113, 113, 122
    --accent:244, 244, 245
    --accent-foreground:23, 23, 27
    --destructive:238, 68, 68
    --destructive-foreground:249, 249, 249
    --border:227, 227, 231
    --input:227, 227, 231
    --ring:22, 163, 73
    --chart: 22, 163, 73;
  }

  .green-dark {
    --background: 19,19,19;
    --foreground: 242, 242, 242;
    --card: 27, 25, 23;
    --card-foreground: 242, 242, 242;
    --popover: 22, 22, 22;
    --popover-foreground: 242, 242, 242;
    --primary: 33, 197, 94;
    --primary-foreground: 4, 46, 22;
    --secondary: 39, 39, 42;
    --secondary-foreground: 249, 249, 249;
    --muted: 38, 38, 38;
    --muted-foreground: 161, 161, 169;
    --accent: 41, 37, 36;
    --accent-foreground: 249, 249, 249;
    --destructive: 127, 29, 29;
    --destructive-foreground: 254, 242, 242;
    --border: 39, 39, 42;
    --input: 39, 39, 42;
    --ring: 20, 127, 60;
    --chart:20, 127, 60;

  }
  .blue-light {
    --background: 255, 255, 255;
    --foreground: 1, 8, 22;
    --card: 255, 255, 255;
    --card-foreground: 1, 8, 22;
    --popover: 255, 255, 255;
    --popover-foreground: 1, 8, 22;
    --primary: 36, 98, 234;
    --primary-foreground: 247, 249, 251;
    --secondary: 241, 245, 249;
    --secondary-foreground: 15, 23, 42;
    --muted: 241, 245, 249;
    --muted-foreground: 100, 116, 139;
    --accent: 241, 245, 249;
    --accent-foreground: 15, 23, 42;
    --destructive: 238, 68, 68;
    --destructive-foreground: 247, 249, 251;
    --border: 226, 232, 240;
    --input: 226, 232, 240;
    --ring: 36, 98, 234;
    --chart:36, 98, 234;
  }

  .blue-dark {
    --background:1, 8, 22;
    --foreground:247, 249, 251;
    --card:1, 8, 22;
    --card-foreground:247, 249, 251;
    --popover:1, 8, 22;
    --popover-foreground:247, 249, 251;
    --primary:59, 130, 245;
    --primary-foreground:15, 23, 42;
    --secondary:30, 41, 59;
    --secondary-foreground:247, 249, 251;
    --muted:30, 41, 59;
    --muted-foreground:148, 163, 183;
    --accent:30, 41, 59;
    --accent-foreground:247, 249, 251;
    --destructive:127, 29, 29;
    --destructive-foreground:247, 249, 251;
    --border:30, 41, 59;
    --input:30, 41, 59;
    --ring:29, 77, 215;
    --chart:29, 77, 215;

  }
.violet-light {
  --background: 255, 255, 255;
  --foreground: 2, 6, 17;
  --card: 255, 255, 255;
  --card-foreground: 2, 6, 17;
  --popover: 255, 255, 255;
  --popover-foreground: 2, 6, 17;
  --primary: 123, 57, 237;
  --primary-foreground: 248, 249, 250;
  --secondary: 243, 244, 246;
  --secondary-foreground: 17, 24, 39;
  --muted: 243, 244, 246;
  --muted-foreground: 107, 114, 128;
  --accent: 243, 244, 246;
  --accent-foreground: 17, 24, 39;
  --destructive: 238, 68, 68;
  --destructive-foreground: 248, 249, 250;
  --border: 229, 231, 235;
  --input: 229, 231, 235;
  --ring: 123, 57, 237;
  --chart: 123, 57, 237;

}
.violet-dark {
  --background: 2, 6, 17;
  --foreground: 248, 249, 250;
  --card: 2, 6, 17;
  --card-foreground: 248, 249, 250;
  --popover: 2, 6, 17;
  --popover-foreground: 248, 249, 250;
  --primary: 109, 39, 217;
  --primary-foreground: 248, 249, 250;
  --secondary: 31, 41, 55;
  --secondary-foreground: 248, 249, 250;
  --muted: 31, 41, 55;
  --muted-foreground: 156, 162, 174;
  --accent: 31, 41, 55;
  --accent-foreground: 248, 249, 250;
  --destructive: 127, 29, 29;
  --destructive-foreground: 248, 249, 250;
  --border: 31, 41, 55;
  --input: 31, 41, 55;
  --ring: 109, 39, 217;
}
  .ice {
    --background: 25, 57, 72;
    --foreground: 216, 248, 247;
    --card: 75, 99, 119;
    --card-foreground: 216, 248, 247;
    --popover: 75, 99, 119;
    --popover-foreground: 216, 248, 247;
    --primary: 75, 99, 119;
    --primary-foreground: 216, 248, 247;
    --secondary: 112, 157, 166;
    --secondary-foreground: 216, 248, 247;
    --muted: 90, 117, 140;
    --muted-foreground: 216, 248, 247;
    --accent: 112, 157, 166;
    --accent-foreground: 216, 248, 247;
    --destructive: 178, 34, 34;
    --destructive2: 139, 0, 0;
    --destructive-foreground: 250, 250, 250;
    --border: 242, 244, 248;
    --input: 75, 99, 119;
    --ring: 207, 224, 234;
    --radius: 0.5rem;
    --chart: 112, 157, 166;
    --font-bodoni: "Bodoni", sans-serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply font-bold text-xl uppercase;
  }
  h2 {
    @apply font-bold uppercase;
  }
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
::selection {
  background: black;
}

input[type="range"] {
  width: 70%;
  height: 7px;
  border: none;
  background: #f9f5f5;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

/* Ice - Light */
/* --text: rgb(239, 246, 245);
--background: rgb(252, 253, 253);
--primary: rgb(70, 162, 195);
--secondary: rgb(144, 210, 234);
--accent: rgb(76, 199, 240); */

/* Ice - Dark */
/* --text: rgb(243, 245, 246);
--background: rgb(2, 3, 3);
--primary: rgb(60, 152, 185);
--secondary: rgb(21, 87, 111);
--accent: rgb(15, 138, 179); */

/* Forest - Light */
/* --text: rgb(25, 39, 17);
--background: rgb(236, 241, 233);
--primary: rgb(58, 90, 42);
--secondary: rgb(147, 204, 202);
--accent: rgb(67, 120, 142); */

/* Forest - Dark */
/* --text: rgb(223, 237, 215);
--background: rgb(16, 21, 13);
--primary: rgb(182, 213, 166);
--secondary: rgb(50, 106, 101);
--accent: rgb(113, 165, 188); */

/* Violet - Light */
/* --text: rgb(18, 13, 28);
--background: rgb(246, 245, 250);
--primary: rgb(105, 73, 188);
--secondary: rgb(164, 142, 220);
--accent: rgb(133, 101, 215); */

/* Violet - Dark */
/* --text: rgb(232, 227, 242);
--background: rgb(6, 5, 10);
--primary: rgb(100, 67, 182);
--secondary: rgb(57, 35, 113);
--accent: rgb(72, 40, 154); */

/* Boisée - Light */
/* --text: rgb(9, 16, 15);
--background: rgb(252, 253, 253);
--primary: rgb(98, 167, 155);
--secondary: rgb(208, 169, 199);
--accent: rgb(187, 140, 134); */

/* Boisée - Dark */
/* --text: rgb(239, 246, 245);
--background: rgb(2, 3, 3);
--primary: rgb(88, 157, 145);
--secondary: rgb(86, 47, 77);
--accent: rgb(121, 74, 68); */

/* Fée - Light */
/* --text: rgb(216, 248, 247);
--background: rgb(2, 8, 8);
--primary: rgb(142, 236, 231);
--secondary: rgb(131, 22, 91);
--accent: rgb(220, 70, 50); */

/* Fée - Dark */
/* --text: rgb(7, 39, 38);
--background: rgb(247, 253, 253);
--primary: rgb(19, 113, 109);
--secondary: rgb(233, 124, 193);
--accent: rgb(205, 55, 35); */

/* Earth - Light */
/* --text: rgb(29, 18, 7);
--background: rgb(252, 248, 242);
--primary: rgb(114, 79, 29);
--secondary: rgb(124, 222, 164);
--accent: rgb(41, 163, 163); */

/* Earth - Dark */
/* --text: rgb(248, 237, 226);
--background: rgb(12, 9, 3);
--primary: rgb(226, 191, 141);
--secondary: rgb(33, 131, 72);
--accent: rgb(92, 214, 214); */
