@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 25, 25, 25;
    --foreground: 220, 220, 220;
    --card: 45, 45, 45;
    --card-foreground: 221, 229, 236;
    --popover: 45, 45, 45;
    --popover-foreground: 221, 229, 236;
    --primary: 45, 45, 45;
    --primary-foreground: 221, 229, 236;
    --secondary: 210, 167, 142;
    --secondary-foreground: 45, 45, 45;
    --muted: 40, 40, 40;
    --muted-foreground: 215, 219, 235;
    --accent: 210, 167, 142;
    --accent-foreground: 45, 45, 45;
    --destructive: 178, 34, 34;
    --destructive2: 139, 0, 0;
    --destructive-foreground: 250, 250, 250;
    --border: 232, 232, 232, 0.5;
    --input: 232, 232, 232;
    --ring: 207, 224, 234;
    --radius: 0.5rem;
    --chart: 210, 167, 142;
  }

  .light {
    --background: 250, 250, 250;
    --foreground: 18, 18, 18;
    --card: 250, 250, 250;
    --card-foreground: 18, 18, 18;
    --popover: 250, 250, 250;
    --popover-foreground: 18, 18, 18;
    --primary: 23, 23, 27;
    --primary-foreground: 249, 249, 249;
    --secondary: 244, 244, 245;
    --secondary-foreground: 23, 23, 27;
    --muted: 244, 244, 245;
    --muted-foreground: 113, 113, 122;
    --accent: 244, 244, 245;
    --accent-foreground: 23, 23, 27;
    --destructive: 238, 68, 68;
    --destructive-foreground: 249, 249, 249;
    --border: 227, 227, 231;
    --input: 227, 227, 231;
    --ring: 23, 23, 27;
    --chart: 23, 23, 27;
  }

  .dark {
    --background: 18, 18, 18;
    --foreground: 249, 249, 249;
    --card: 18, 18, 18;
    --card-foreground: 249, 249, 249;
    --popover: 18, 18, 18;
    --popover-foreground: 249, 249, 249;
    --primary: 211, 211, 215;
    --primary-foreground: 23, 23, 27;
    --secondary: 39, 39, 42;
    --secondary-foreground: 249, 249, 249;
    --muted: 39, 39, 42;
    --muted-foreground: 161, 161, 169;
    --accent: 39, 39, 42;
    --accent-foreground: 249, 249, 249;
    --destructive: 127, 29, 29;
    --destructive-foreground: 249, 249, 249;
    --border: 39, 39, 42;
    --input: 39, 39, 42;
    --ring: 211, 211, 215;
    --chart: 211, 211, 215;
  }
  .red-light {
    --background: 250, 250, 250;
    --foreground: 23 23 23;
    --card: 250, 250, 250;
    --card-foreground: 23 23 23;
    --popover: 250, 250, 250;
    --popover-foreground: 23 23 23;
    --primary: 219, 38, 38;
    --primary-foreground: 254, 242, 242;
    --secondary: 245, 245, 245;
    --secondary-foreground: 22, 22, 22;
    --muted: 245, 245, 245;
    --muted-foreground: 115, 115, 115;
    --accent: 245, 245, 245;
    --accent-foreground: 22, 22, 22;
    --destructive: 238, 68, 68;
    --destructive-foreground: 249, 249, 249;
    --border: 228, 228, 228;
    --input: 228, 228, 228;
    --ring: 219, 38, 38;
    --chart: 219, 38, 38;
  }

  .red-dark {
    --background: 19,19,19;
    --foreground: 249, 249, 249;
    --card: 27, 25, 23;
    --card-foreground: 249, 249, 249;
    --popover: 19,19,19;
    --popover-foreground: 249, 249, 249;
    --primary: 219, 38, 38;
    --primary-foreground: 254, 242, 242;
    --secondary: 37, 37, 37;
    --secondary-foreground: 249, 249, 249;
    --muted: 37, 37, 37;
    --muted-foreground: 162, 162, 162;
    --accent: 37, 37, 37;
    --accent-foreground: 249, 249, 249;
    --destructive: 127, 29, 29;
    --destructive-foreground: 249, 249, 249;
    --border: 37, 37, 37;
    --input: 37, 37, 37;
    --ring: 219, 38, 38;
    --chart: 219, 38, 38;
  }

  .green-light {
    --background:255, 255, 255
    --foreground:8, 8, 10
    --card:255, 255, 255
    --card-foreground:8, 8, 10
    --popover:255, 255, 255
    --popover-foreground:8, 8, 10
    --primary:22, 163, 73
    --primary-foreground:254, 241, 242
    --secondary:244, 244, 245
    --secondary-foreground:23, 23, 27
    --muted:244, 244, 245
    --muted-foreground:113, 113, 122
    --accent:244, 244, 245
    --accent-foreground:23, 23, 27
    --destructive:238, 68, 68
    --destructive-foreground:249, 249, 249
    --border:227, 227, 231
    --input:227, 227, 231
    --ring:22, 163, 73
    --chart: 22, 163, 73;
  }

  .green-dark {
    --background: 19,19,19;
    --foreground: 242, 242, 242;
    --card: 27, 25, 23;
    --card-foreground: 242, 242, 242;
    --popover: 22, 22, 22;
    --popover-foreground: 242, 242, 242;
    --primary: 33, 197, 94;
    --primary-foreground: 4, 46, 22;
    --secondary: 39, 39, 42;
    --secondary-foreground: 249, 249, 249;
    --muted: 38, 38, 38;
    --muted-foreground: 161, 161, 169;
    --accent: 41, 37, 36;
    --accent-foreground: 249, 249, 249;
    --destructive: 127, 29, 29;
    --destructive-foreground: 254, 242, 242;
    --border: 39, 39, 42;
    --input: 39, 39, 42;
    --ring: 20, 127, 60;
    --chart:20, 127, 60;

  }
  .blue-light {
    --background: 255, 255, 255;
    --foreground: 1, 8, 22;
    --card: 255, 255, 255;
    --card-foreground: 1, 8, 22;
    --popover: 255, 255, 255;
    --popover-foreground: 1, 8, 22;
    --primary: 36, 98, 234;
    --primary-foreground: 247, 249, 251;
    --secondary: 241, 245, 249;
    --secondary-foreground: 15, 23, 42;
    --muted: 241, 245, 249;
    --muted-foreground: 100, 116, 139;
    --accent: 241, 245, 249;
    --accent-foreground: 15, 23, 42;
    --destructive: 238, 68, 68;
    --destructive-foreground: 247, 249, 251;
    --border: 226, 232, 240;
    --input: 226, 232, 240;
    --ring: 36, 98, 234;
    --chart:36, 98, 234;
  }

  .blue-dark {
    --background:1, 8, 22;
    --foreground:247, 249, 251;
    --card:1, 8, 22;
    --card-foreground:247, 249, 251;
    --popover:1, 8, 22;
    --popover-foreground:247, 249, 251;
    --primary:59, 130, 245;
    --primary-foreground:15, 23, 42;
    --secondary:30, 41, 59;
    --secondary-foreground:247, 249, 251;
    --muted:30, 41, 59;
    --muted-foreground:148, 163, 183;
    --accent:30, 41, 59;
    --accent-foreground:247, 249, 251;
    --destructive:127, 29, 29;
    --destructive-foreground:247, 249, 251;
    --border:30, 41, 59;
    --input:30, 41, 59;
    --ring:29, 77, 215;
    --chart:29, 77, 215;

  }
.violet-light {
  --background: 255, 255, 255;
  --foreground: 2, 6, 17;
  --card: 255, 255, 255;
  --card-foreground: 2, 6, 17;
  --popover: 255, 255, 255;
  --popover-foreground: 2, 6, 17;
  --primary: 123, 57, 237;
  --primary-foreground: 248, 249, 250;
  --secondary: 243, 244, 246;
  --secondary-foreground: 17, 24, 39;
  --muted: 243, 244, 246;
  --muted-foreground: 107, 114, 128;
  --accent: 243, 244, 246;
  --accent-foreground: 17, 24, 39;
  --destructive: 238, 68, 68;
  --destructive-foreground: 248, 249, 250;
  --border: 229, 231, 235;
  --input: 229, 231, 235;
  --ring: 123, 57, 237;
  --chart: 123, 57, 237;

}
.violet-dark {
  --background: 2, 6, 17;
  --foreground: 248, 249, 250;
  --card: 2, 6, 17;
  --card-foreground: 248, 249, 250;
  --popover: 2, 6, 17;
  --popover-foreground: 248, 249, 250;
  --primary: 109, 39, 217;
  --primary-foreground: 248, 249, 250;
  --secondary: 31, 41, 55;
  --secondary-foreground: 248, 249, 250;
  --muted: 31, 41, 55;
  --muted-foreground: 156, 162, 174;
  --accent: 31, 41, 55;
  --accent-foreground: 248, 249, 250;
  --destructive: 127, 29, 29;
  --destructive-foreground: 248, 249, 250;
  --border: 31, 41, 55;
  --input: 31, 41, 55;
  --ring: 109, 39, 217;
}
  .ice {
    --background: 25, 57, 72;
    --foreground: 216, 248, 247;
    --card: 75, 99, 119;
    --card-foreground: 216, 248, 247;
    --popover: 75, 99, 119;
    --popover-foreground: 216, 248, 247;
    --primary: 75, 99, 119;
    --primary-foreground: 216, 248, 247;
    --secondary: 112, 157, 166;
    --secondary-foreground: 216, 248, 247;
    --muted: 90, 117, 140;
    --muted-foreground: 216, 248, 247;
    --accent: 112, 157, 166;
    --accent-foreground: 216, 248, 247;
    --destructive: 178, 34, 34;
    --destructive2: 139, 0, 0;
    --destructive-foreground: 250, 250, 250;
    --border: 242, 244, 248;
    --input: 75, 99, 119;
    --ring: 207, 224, 234;
    --radius: 0.5rem;
    --chart: 112, 157, 166;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground font-inter;
  }
  h1 {
    @apply font-bold text-xl uppercase font-prata;
  }
  h2 {
    @apply font-bold uppercase font-prata;
  }
}

body {
  background: linear-gradient(300deg,#090909,#242424,#110e0e);
  background-size: 180% 180%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
::selection {
  background: black;
}

input[type="range"] {
  width: 70%;
  height: 7px;
  border: none;
  background: #f9f5f5;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.bg-black-filter::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -1;
}