@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bodoni";
  font-style: normal;
  src: local("Bodoni"), url("/fonts/Bodoni.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Noto";
  font-style: normal;
  src: local("Noto"), url("/fonts/Noto.ttf") format("truetype");
  font-display: swap;
}
@layer base {
  :root {
    --background: 35, 35, 35;
    --foreground: 221, 229, 236;
    --card: 45, 45, 45;
    --card-foreground: 221, 229, 236;
    --popover: 45, 45, 45;
    --popover-foreground: 221, 229, 236;
    --primary: 45, 45, 45;
    --primary-foreground: 255, 255, 255;
    --secondary: 210, 167, 142;
    --secondary-foreground: 45, 45, 45;
    --muted: 40, 40, 40;
    --muted-foreground: 215, 219, 235;
    --accent: 210, 167, 142;
    --accent-foreground: 45, 45, 45;
    --destructive: 178, 34, 34;
    --destructive2: 139, 0, 0;
    --destructive-foreground: 255, 255, 255;
    --border: 242, 244, 248;
    --input: 45, 45, 45;
    --ring: 207, 224, 234;
    --radius: 0.5rem;
    --chart1: 210, 167, 142;
    --chart2: 215, 148, 91;
    --chart3: 235, 248, 246;
    --chart4: 34, 108, 104;
    --chart5: 22, 83, 78;
  }

  .ice {
    --background: 25, 57, 72;
    --foreground: 216, 248, 247;
    --card: 75, 99, 119;
    --card-foreground: 216, 248, 247;
    --popover: 75, 99, 119;
    --popover-foreground: 216, 248, 247;
    --primary: 75, 99, 119;
    --primary-foreground: 216, 248, 247;
    --secondary: 112, 157, 166;
    --secondary-foreground: 216, 248, 247;
    --muted: 90, 117, 140;
    --muted-foreground: 216, 248, 247;
    --accent: 112, 157, 166;
    --accent-foreground: 216, 248, 247;
    --destructive: 178, 34, 34;
    --destructive2: 139, 0, 0;
    --destructive-foreground: 255, 255, 255;
    --border: 242, 244, 248;
    --input: 75, 99, 119;
    --ring: 207, 224, 234;
    --radius: 0.5rem;
    --chart1: 25, 57, 72;
    --chart2: 112, 157, 166;
    --chart3: 235, 248, 246;
    --chart4: 34, 108, 104;
    --chart5: 22, 83, 78;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply font-bold text-xl uppercase;
  }
  h2 {
    @apply font-bold uppercase;
  }
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
::selection {
  background: black;
}

input[type="range"] {
  width: 70%;
  height: 7px;
  border: none;
  background: #f9f5f5;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

/* Ice - Light */
/* --text: rgb(239, 246, 245);
--background: rgb(252, 253, 253);
--primary: rgb(70, 162, 195);
--secondary: rgb(144, 210, 234);
--accent: rgb(76, 199, 240); */

/* Ice - Dark */
/* --text: rgb(243, 245, 246);
--background: rgb(2, 3, 3);
--primary: rgb(60, 152, 185);
--secondary: rgb(21, 87, 111);
--accent: rgb(15, 138, 179); */

/* Forest - Light */
/* --text: rgb(25, 39, 17);
--background: rgb(236, 241, 233);
--primary: rgb(58, 90, 42);
--secondary: rgb(147, 204, 202);
--accent: rgb(67, 120, 142); */

/* Forest - Dark */
/* --text: rgb(223, 237, 215);
--background: rgb(16, 21, 13);
--primary: rgb(182, 213, 166);
--secondary: rgb(50, 106, 101);
--accent: rgb(113, 165, 188); */

/* Violet - Light */
/* --text: rgb(18, 13, 28);
--background: rgb(246, 245, 250);
--primary: rgb(105, 73, 188);
--secondary: rgb(164, 142, 220);
--accent: rgb(133, 101, 215); */

/* Violet - Dark */
/* --text: rgb(232, 227, 242);
--background: rgb(6, 5, 10);
--primary: rgb(100, 67, 182);
--secondary: rgb(57, 35, 113);
--accent: rgb(72, 40, 154); */

/* Boisée - Light */
/* --text: rgb(9, 16, 15);
--background: rgb(252, 253, 253);
--primary: rgb(98, 167, 155);
--secondary: rgb(208, 169, 199);
--accent: rgb(187, 140, 134); */

/* Boisée - Dark */
/* --text: rgb(239, 246, 245);
--background: rgb(2, 3, 3);
--primary: rgb(88, 157, 145);
--secondary: rgb(86, 47, 77);
--accent: rgb(121, 74, 68); */

/* Fée - Light */
/* --text: rgb(216, 248, 247);
--background: rgb(2, 8, 8);
--primary: rgb(142, 236, 231);
--secondary: rgb(131, 22, 91);
--accent: rgb(220, 70, 50); */

/* Fée - Dark */
/* --text: rgb(7, 39, 38);
--background: rgb(247, 253, 253);
--primary: rgb(19, 113, 109);
--secondary: rgb(233, 124, 193);
--accent: rgb(205, 55, 35); */

/* Earth - Light */
/* --text: rgb(29, 18, 7);
--background: rgb(252, 248, 242);
--primary: rgb(114, 79, 29);
--secondary: rgb(124, 222, 164);
--accent: rgb(41, 163, 163); */

/* Earth - Dark */
/* --text: rgb(248, 237, 226);
--background: rgb(12, 9, 3);
--primary: rgb(226, 191, 141);
--secondary: rgb(33, 131, 72);
--accent: rgb(92, 214, 214); */
